modules = ["nodejs-20", "bash", "web", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38597
externalPort = 3003

[[ports]]
localPort = 40527
externalPort = 4200

[[ports]]
localPort = 44421
externalPort = 3002

[[ports]]
localPort = 45589
externalPort = 3000

[[ports]]
localPort = 46843
externalPort = 3001

[userenv]

[userenv.shared]
IPINFO_TOKEN = "124a4928df09aa"
NEXT_PUBLIC_SUPABASE_URL = "https://erhfmgmyfnhcpxkjdkvt.supabase.co"
S3_SECRET_ACCESS_KEY = "5c5735d5d768734d1e55cc93bef86d3fa99072fb5bec0e5cde4b84d5e6d7e0e0"
S3_ENDPOINT = "https://erhfmgmyfnhcpxkjdkvt.storage.supabase.co/storage/v1/s3"
S3_ACCESS_KEY_ID = "74ef755d6450b7ac23fa68cfef84f995"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyaGZtZ215Zm5oY3B4a2pka3Z0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk0OTIyOTcsImV4cCI6MjA3NTA2ODI5N30.MlUeND1Q5Tdy3pg_iHGMnQ89v3okiUUf1XGkhW8r4lU"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyaGZtZ215Zm5oY3B4a2pka3Z0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTQ5MjI5NywiZXhwIjoyMDc1MDY4Mjk3fQ.GIoUhjfdmZipStoBAfJURMdyPOAqE15CuYRg2canmZk"
SUPABASE_JWT_SECRET = "qpy/dV260XDKitdgGhsjIbDMaZv1844gneupo1x/YtrT9VTRI952hwuXEEl6iONzBt3Xw3FNFjBAtSVHlJM1dw=="
