modules = ["nodejs-20", "bash", "web", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34067
externalPort = 5173

[[ports]]
localPort = 35813
externalPort = 6000

[[ports]]
localPort = 38597
externalPort = 3003

[[ports]]
localPort = 39201
externalPort = 5000

[[ports]]
localPort = 39347
externalPort = 6800

[[ports]]
localPort = 40999
externalPort = 4200

[[ports]]
localPort = 44421
externalPort = 3002

[[ports]]
localPort = 45589
externalPort = 3000

[[ports]]
localPort = 46163
externalPort = 3001

[userenv]

[userenv.shared]

[userenv.development]
DEV_ALLOW_INSECURE_COOKIES = "true"
